.formInsertGame{
width: 300px;
background-color: rgba(36,32,33,255);
border-radius: 5px;
color: white;
padding: 1em 1em 1em 1em;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}

.formControlInsertGame{

    background-color: whitesmoke;
}

.modal-content{
    background-color: rgba(36,32,33,255);
    width: 450px;
}