.formInsertGame{
width: 300px;
background-color: rgba(36,32,33,255);
border-radius: 5px;
color: white;
padding: 1em 1em 1em 1em;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}

.formControlInsertGame{

    background-color: whitesmoke;
}

.modal-content{
    background-color: rgba(36,32,33,255);
    width: 450px;
}

.buttonModale{
    background-color: rgba(36,32,33,255);
    color: whitesmoke;
    border-color: rgba(148,26,30,255);
    margin-right: 23px;
    margin-top: 10px;
}
.buttonModale:hover{
    background-color: rgba(148,26,30,255);
    color: whitesmoke;
    border-color: rgba(148,26,30,255);
}

.buttonModale::selection {
    background-color: rgba(148,26,30,255);
    color: whitesmoke;
}

.buttonModale:focus {
    background-color: rgba(148,26,30,255);
    color: whitesmoke;
}

.buttonModale:active {
    background-color: rgba(148,26,30,255);
    color: whitesmoke;
}