@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

.figureProfile{
    width: 25px !important;
    height: 25px !important;
   
}

.figureReservation{
    width: 25px !important;
    height: 25px !important;
    position: absolute;
    left: 50px;
}
.scrittaReservation{
    margin-left: 30px !important;
    
}

.figureEvent{
    width: 25px !important;
    height: 25px !important;
    position: absolute;
    left: 50px;
}

.scrittaEvent{
    margin-left: 33px !important;  
}

.figureHome{
    width: 35px !important;
    height: 35px !important;
}
.scrittaHome{
    margin-left: 1px !important; 
}

.scrittaGiochiDaTavola{
    margin-left: 32px !important;
}

.figureDadi{
    width: 70px !important;
    height: 80px !important;
    position: absolute;
    left: 14px;
    transform: rotate(30deg);
}

.dadiPerCanvas{
    width: 200px !important;
    height: 310px !important;
    transform: rotate(-0.7turn);
    box-shadow: 50px 10px 10px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 5em;
    left: 2em;
}
  .iconaPerMenuCanvas{
    
margin-left: 70px;
font-weight: bolder;
font-size: 40px !important;
   }

   .iconaPerMenuCanvas:hover{
    background-color: transparent !important;
   }

.offCanvasSection{

    background-image: url(../../../assets/futuro4.png);
    background-position: bottom;
    box-shadow: 50px 10px 10px rgba(0, 0, 0, 0.5);
    /* opacity: 85%; */
    background-repeat: no-repeat;
    background-size: 60%;
    background-color: rgba(36,32,33,255);
}

.OffcanvasTitle{
    color: white;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
    margin-top: 5px;
}


.iconCanvasWrite{
    color: white;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 20px;
    background-color: transparent;
    border: 0;

}

.iconCanvasWrite:hover{
    background-color: transparent;
    border: 0;
}

.iconCanvasWrite:active{
    background-color: transparent !important;
    border: 0 !important;
}


 .offcanvas-body {
     flex-grow: 0 !important; 
     padding: 10px 20px 10px 20px ; 
    color: white;
    width: 350px;
    height: 55px;
    margin: 10px 30px 10px 30px;
    overflow-y: hidden;

    }


 


   .menuButton{
    border: none !important;
       margin-left: 12px;
       background-color: transparent !important;
       color: black;
       font-weight: bolder;
       /* font-size: 40px; */
       /* border: solid 3px black; */
   }
   
   .menuButton:hover {
       background-color: transparent !important;
       /* border: solid 3px black; */
       color: black;
   }
   
   .menuButton:active{
       color: transparent !important;
       /* border: solid black !important; */
   }
   
   @media screen and (min-width: 250px) {
   
   
           .menuButton{
               font-size: 20px ;
               height: 50px;
           }
   
   }
   
   @media screen and (min-width: 355px) {


}

   

   @media screen and (min-width: 375px) {

   
           .menuButton{
               font-size: 25px;
           }
   
   }
   
   @media screen and (min-width: 390px) {

   
           .menuButton{
               font-size: 25px;
           }
   }  
   
   
   @media screen and (min-width: 412px) {

           .menuButton{
               font-size: 30px;
               height: 60px;
           }

   
   }
   
   @media screen and (min-width: 470px) {
   


   .menuButton{
       font-size: 40px;
       height: 70px;
   }
   
   
   }

   @media screen and (min-width: 540px) {
    .menuButton{
        margin-left: 10px;
    }
   }
 
   @media screen and (min-width: 768px) {
    .menuButton{
        margin-left: 35px;
    }
   }
 
 
   @media screen and (min-width: 1200px) {
    .menuButton{
        margin-left: 2.5em;
    }
 
   }
 
   @media screen and (min-width: 1280px) {
 
   }
 
   @media screen and (min-width: 1400px) {
    .menuButton{
        font-size: 30px !important;
        margin-left: 3em !important;    }
 
   } 