@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&family=Roboto:wght@100;400;700&family=Spectral:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400..900&display=swap');

.container{
 min-height: 100vh !important;
 width: 100%;
}

.dadi{
width: 400px;
height: 400px;
position: absolute;
left: 12em;
top: 16em;
transform: rotate(25deg);
}

/* // daiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii */

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

.logoutLogin{
    display: flex !important;
    justify-content: flex-end !important;
    
    margin-top: 15em !important;
    /* margin-left: 60em; */
}

 .offHomeSection{
    text-align: center;
    background: transparent;
    border: 0 !important;

    /* box-shadow: 50px 10px 10px rgba(0, 0, 0, 0.5);
    background-color: rgba(36,32,33,255); */
} 

.OffHomeTitle{
    color: black;
    text-align: center;
    /* font-family: "Protest Revolution", sans-serif; */

    font-family: "Playfair Display", serif;
    font-style: italic;
  font-size: 40px !important;
    margin-top: 5px;
}


.iconHomeWrite{
    color: black;
    line-height: 10px;
    font-size: 25px;
     /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important; */
     font-family: "Playfair Display", serif;
     font-style: italic;
     font-weight: bolder;
    background-color: transparent;
    border: 0;

}


.iconHomeWrite:hover{
    background-color: transparent;
    border: 0;
    color: rgba(148,26,30,255) ;
}

.iconHomeWrite:active{
    background-color: transparent !important;
    border: 0 !important;
    color: rgba(148,26,30,255) ;
}




   .buttonListaPrenotazioni2{
    font-size: 10px;
    background-color: transparent;
    border: 0;
    margin: 0;
    color: black;
    margin-top: 10px;
    position: relative;
   }

   .buttonListaPrenotazioni2:hover{
    background-color: transparent;
    border: 0;

   }

   .accordion-header{
    text-align: center !important;
    display: flex !important;
    justify-content: center !important;
    color: black !important;

   }

   .accordion-item{

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
  color: black  !important;
    background-color: transparent;
    text-align: center !important;
   }

   .accordion-button{
    font-size: 22px !important;
    color: black;
    font-family: "Playfair Display", serif;
    font-style: italic;
    font-weight: bold;
   }

   .accordion{
    color: black !important;
     position: relative;
     left: 490px !important;
     top: -40px;
     
    --bs-accordion-bg: transparent;
    --bs-accordion-btn-focus-border-color: trasparent !important;
    --bs-accordion-btn-selected-border-color: trasparent !important;
    --bs-accordion-border-color: 0;
    --bs-accordion-active-bg: trasparent;
    --bs-accordion-active-color: trasparent;
    --bs-accordion-transition: trasparent !important;
    --bs-accordion-btn-focus-box-shadow: trasparent;
    text-align: center !important;
    width: 10em;
   }

   .accordion-collapse.collapse.show{
    font-size: 15px !important;
    width: 21em;
   }
   

   .accordion-button::after{
    color: black !important;
    font-weight: bolder !important;
   }


   .imageCarousel{

    width: 500px;
    height: 500px;
   }

   .colLoghiHome{
    margin-top: 16em;
   }



   .sezioneHomeCentrale{
    margin-top: 15em;
  
   }

.imageCarousel{
    border-radius: 2%;  
  
}

   .carousel-inner{
    margin-left: 22em;
    margin-bottom: 5em;
  
   }

.carousel-indicators{
    margin-left: 17em;
}


.futuroDescription{

    color: black;
    font-weight: bold;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-family: "Playfair Display", serif;
    font-style: italic;
    padding-left: 5em;
    padding-right: 5em;
    line-height: 60px;
    font-size: 25px;
    text-align: center;
    
}


   @media screen and (min-width: 250px) {
   
   

   
   }
   
   
   
   @media screen and (min-width: 375px) {

   

   
   }
   
   @media screen and (min-width: 390px) {

   

   }  
   
   
   @media screen and (min-width: 412px) {



   
   }
   
   @media screen and (min-width: 470px) {
   



   
   
   }

   @media screen and (min-width: 540px) {

   }
 
   @media screen and (min-width: 756px) {
    .accordion{
        
        position: relative;
        left: 11em !important;
        top: -40px;
   }

   .imageCarousel{

    width: 400px;
    height: 400px;
   }

   .carousel-inner{
    margin-left: 5em;
   }

   .carousel-indicators{
    margin-left: 10em;
}

.carousel-control-next {
    right: -79px;
}

.carousel-control-prev {
    left: 5em;
}

.dadi{
    width: 250px;
    height: 250px;
    position: absolute;
    left: 5em;
    top: 20em;
    
    }

   }





   @media screen and (min-width: 800px) {
    .accordion{
        
        position: relative;
        left: 12em !important;
        top: -40px;
   }


   .carousel-inner{
    margin-left: 5em;
   }

   .carousel-indicators{
    margin-left: 10em;
}

.carousel-control-next {
    right: -2px;
}

.carousel-control-prev {
    left: 5em;
}

.dadi{
    width: 250px;
    height: 250px;
    position: absolute;
    left: 5em;
    top: 20em;
    
    }

   }

   @media screen and (min-width: 855px) {
    .accordion{
        
        position: relative;
        left: 35em;
        top: -40px;
   }

   .dadi{
    width: 250px;
    height: 250px;
    position: absolute;
    left: 5em;
    top: 20em;
    
    }

   }


   @media screen and (min-width: 950px) {
    .accordion{
        
        position: relative;
        left: 15em !important;
        top: -40px;
   }

   .dadi{
    width: 250px;
    height: 250px;
    position: absolute;
    left: 5em;
    top: 20em;
    
    }
   }


   @media screen and (min-width: 1000px) {
    .accordion{
        
        position: relative;
        left: 17em !important;
        top: -40px;
   }

   .imageCarousel{

    width: 650px;
    height: 650px;
   }

   .carousel-inner{
    margin-left: 3em;
   }



.carousel-control-prev {
    left: 2em;
}

.dadi{
    width: 250px;
    height: 250px;
    position: absolute;
    left: 5em;
    top: 20em;
    
    }

   }

   @media screen and (min-width: 1100px) {
   .accordion{
        
    position: relative;
    left: 19em !important;
    top: -40px;
}

.imageCarousel{

width: 750px;
height: 750px;
}

.carousel-inner{
margin-left: 3em;
}

.carousel-control-next {
    right: -75px;
}
.carousel-control-prev {
left: 2em;
}
.dadi{
    width: 300px;
    height: 300px;
    position: absolute;
    left: 2em;
    
    
    }

   }
 
   @media screen and (min-width: 1200px) {
    .accordion{
        
        position: relative;
        left: 20em !important;
        
   }

   .imageCarousel{

    width: 800px;
    height: 800px;
   }

   .carousel-inner{
    margin-left: 2em;
   }

   .carousel-indicators{
    margin-left: 10em;
}

.carousel-control-next {
    right: -79px;
}

.carousel-control-prev {
    left: 1em;
}
.dadi{
    width: 300px;
    height: 300px;
    position: absolute;
    left: 4em;
    
    
    }
   }

   @media screen and (min-width: 1300px) {
    .accordion{
        
        position: relative;
        left: 23em !important;
        top: -40px;
   }

   .imageCarousel{

    width: 850px;
    height: 800px;
   }

   .carousel-inner{
    margin-left: 2em;
   }

   .carousel-indicators{
    margin-left: 10em;
}

.carousel-control-next {
    right: -70px;
}

.carousel-control-prev {
    left: 1em;
}

.dadi{
    width: 300px;
    height: 300px;
    position: absolute;
    left: 5em;
    
    
    }
   }



   @media screen and (min-width: 1400px) {
    .accordion{
        
        position: relative;
        left: 25em !important;
        top: -40px;
   }

   .dadi{
    width: 400px;
    height: 400px;
    position: absolute;
    left: 5em;
    
    
    }
   }
 


   @media screen and (min-width: 1500px) {
    .accordion{
        
        position: relative;
        left: 27em !important;
        top: -40px;
   }

   .imageCarousel{

    width: 850px;
    height: 850px;
   }

   .carousel-inner{
    margin-left: 6em;
   }

   .dadi{
    width: 400px;
    height: 400px;
    position: absolute;
    left: 10em;
    
    
    }

   }
 
 
 
   @media screen and (min-width: 1600px) {
    .accordion{
        
        position: relative;
        left: 30em !important;
        top: -40px;
   }

   .imageCarousel{

    width: 800px;
    height: 750px;
   }

   .carousel-inner{
    margin-left: 10em;
   }

   .dadi{
    width: 400px;
    height: 400px;
    position: absolute;
    left: 11em;
    top: 16em;
    transform: rotate(25deg);
    z-index: 1;
    }

    .carousel-control-next {
        right: -2px;
    }
    
    .carousel-control-prev {
        left: 1em;
    }
   }
 
   @media screen and (min-width: 1800px) {

    .accordion{
        
         position: relative;
         left: 33em !important;
         top: -40px;
    }    
    .carousel-inner{
        margin-left: 10em;
       }
   }

   @media screen and (min-width: 2000px) {

    .accordion{
        
         position: relative;
         left: 37em !important;
         top: -40px;
    }    
    .carousel-inner{
        margin-left: 17em;
       }
   }