@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&family=Roboto:wght@100;400;700&family=Spectral:wght@300;400;700&display=swap');

.container{
 margin: 0;
 min-height: 100vh;
 
}


/* // daiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii */

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

.logoutLogin{
    display: flex !important;
    justify-content: flex-end !important;
    
    margin-top: 15em !important;
    /* margin-left: 60em; */
}

 .offHomeSection{
    text-align: center;
    background: transparent;
    border: 0 !important;

    /* box-shadow: 50px 10px 10px rgba(0, 0, 0, 0.5);
    background-color: rgba(36,32,33,255); */
} 

.OffHomeTitle{
    color: black;
    text-align: center;
    font-family: "Protest Revolution", sans-serif;
  font-size: 40px !important;
    margin-top: 5px;
}


.iconHomeWrite{
    color: black;
    line-height: 10px;
    font-size: 25px;
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
  
    margin-left: 20px;
    background-color: transparent;
    border: 0;

}
/* .prenotazioniWrite{
   margin-left: 20px !important; 
} */

.iconHomeWrite:hover{
    background-color: transparent;
    border: 0;
    color: rgba(148,26,30,255) ;
}

.iconHomeWrite:active{
    background-color: transparent !important;
    border: 0 !important;
    color: rgba(148,26,30,255) ;
}




   .buttonListaPrenotazioni2{
    font-size: 10px;
    background-color: transparent;
    border: 0;
    margin: 0;
    color: black;
    margin-top: 10px;
    position: relative;
   }

   .buttonListaPrenotazioni2:hover{
    background-color: transparent;
    border: 0;

   }

   .accordion-header{
    text-align: center !important;
    display: flex !important;
    justify-content: center !important;
    color: black !important;

   }

   .accordion-item{

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
  color: black  !important;
    background-color: transparent;
    text-align: center !important;
   }

   .accordion-button{
    font-size: 22px !important;
    color: black;
   }

   .accordion{
    color: black !important;
     position: relative;
     left: 29em;
     top: -40px;
     
    --bs-accordion-bg: transparent;
    --bs-accordion-btn-focus-border-color: trasparent !important;
    --bs-accordion-btn-selected-border-color: trasparent !important;
    --bs-accordion-border-color: 0;
    --bs-accordion-active-bg: trasparent;
    --bs-accordion-active-color: trasparent;
    --bs-accordion-transition: trasparent !important;
    --bs-accordion-btn-focus-box-shadow: trasparent;
    text-align: center !important;
    width: 10em;
   }

   .accordion-collapse.collapse.show{
    font-size: 15px !important;
    width: 15em;
   }
   

   .accordion-button::after{
    color: black !important;
    font-weight: bolder !important;
   }


   .imageCarousel{

    width: 500px;
    height: 500px;
   }

   @media screen and (min-width: 250px) {
   
   

   
   }
   
   
   
   @media screen and (min-width: 375px) {

   

   
   }
   
   @media screen and (min-width: 390px) {

   

   }  
   
   
   @media screen and (min-width: 412px) {



   
   }
   
   @media screen and (min-width: 470px) {
   



   
   
   }

   @media screen and (min-width: 540px) {

   }
 
   @media screen and (min-width: 768px) {
    .accordion{
        
        position: relative;
        left: 10em;
        top: -40px;
   }
   }
   @media screen and (min-width: 992px) {
    .accordion{
        
        position: relative;
        left: 18em;
        top: -40px;
   }
   }
 
   @media screen and (min-width: 1200px) {
    .accordion{
        
        position: relative;
        left: 23em;
        top: -40px;
   }
   }
 
   @media screen and (min-width: 1280px) {
 
   }
 
   @media screen and (min-width: 1400px) {

    .accordion{
        
         position: relative;
         left: 27em;
         top: -40px;
    }    
   }