
.container{
    margin: 0;
    min-height: 100vh;
    
   }
   
   .menuButton{
       margin-left: 15px;
       background-color: transparent;
       color: black;
       font-weight: bolder;
       font-size: 40px;
       border: solid 3px black;
   }
   
   .menuButton:hover {
       background-color: rgb(130, 0, 0) !important;
       border: solid 3px black;
       color: black;
   }
   
   .menuButton::selection{
       color: black !important;
   }
   
   @media screen and (min-width: 250px) {
   
       .inserimentoCanvas{
   
           margin-top: 9em;
       
       }
   
       .divisoreSezioneCentrale{
   
           margin-top: 10em;
           }
   
           .menuButton{
               font-size: 20px;
           }
   
   }
   
   
   
   @media screen and (min-width: 375px) {
   
       .inserimentoCanvas{
   
           margin-top: 11em;
       
       }
   
       .divisoreSezioneCentrale{
   
           margin-top: 12em;
           }
   
           .menuButton{
               font-size: 25px;
           }
   
   }
   
   @media screen and (min-width: 390px) {
   
       .inserimentoCanvas{
   
           margin-top: 11em;
       
       }
   
       .divisoreSezioneCentrale{
   
           margin-top: 12em;
           }
   
           .menuButton{
               font-size: 25px;
           }
   }  
   
   
   @media screen and (min-width: 412px) {
       .inserimentoCanvas{
   
           margin-top: 11em;
       
       }
   
       .divisoreSezioneCentrale{
   
           margin-top: 12em;
           }
   
           .menuButton{
               font-size: 30px;
           }
   
   }
   
   @media screen and (min-width: 470px) {
   
   .inserimentoCanvas{
   
       margin-top: 15em;
   
   }
   
   .divisoreSezioneCentrale{
   
   margin-top: 15em;
   }
   
   .menuButton{
       font-size: 40px;
   }
   
   
   }