
.prenotazioneCard{

    background-color: rgba(36,32,33,255);
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: #941a1e solid 1px;

    width: 400px;
    font-size: 20px;
    margin-top: 15em;
}

.inputPrenotazione{
    width: 300px;
    text-align: center;
}


.rowForInput{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;  
}

.buttonReservation{
background-color: #941a1e;
border: black solid 2px;
}

.buttonReservation::selection{
    background-color: #941a1e !important;
    
    }

    .buttonReservation:hover{
        background-color: #941a1e;
        border: black solid 2px;
        }

        .buttBadge{
            background-color: #941a1e !important;
            border: 1px solid black;
        }

        .buttBadge:hover {
            background-color: #941a1e !important;
            border: 1px solid black;
        }

        .buttBadge:focus {
            background-color: #941a1e !important;
            border: 1px solid black;
        }


        .buttonReservation:disabled {
        
            opacity: 0.5; 
            cursor: not-allowed; 
            background-color: #941a1e !important;
            border: 1px solid black;
          }


        @media screen and (min-width: 280px) {
            .prenotazioneCard{
                width: 200px;
                font-size: 10px;
                margin-top: 17em;
                
            }
            
            .inputPrenotazione{
                width: 150px;
            }


        }
  
        
          @media screen and (min-width: 370px) {
            .prenotazioneCard{
                width: 270px;
                font-size: 10px;
                margin-top: 35em;
                
            }
            
            .inputPrenotazione{
                width: 200px;
            }
          }  
        

          
          @media screen and (min-width: 570px) {
            .prenotazioneCard{
                width: 370px;
                font-size: 10px;
                margin-top: 35em;
                
            }
            
            .inputPrenotazione{
                width: 230px;
            }
          }

                    
          @media screen and (min-width: 670px) {
            .prenotazioneCard{
                width: 550px;
                font-size: 10px;
                margin-top: 35em;
                
            }
            
            .inputPrenotazione{
                width: 350px;
            }

            .rowForInput{
                display: flex !important;
                justify-content: center !important;
                align-items: center !important;
                text-align: center !important;  
            }
            
          }
        
          @media screen and (min-width: 768px) {
            .prenotazioneCard{
                width: 550px;
                font-size: 10px;
                margin-top: 35em;
                margin-right: 25em;
            }
            
            .inputPrenotazione{
                width: 350px;
            }
          }
        
    
          @media screen and (min-width: 900px) {
            .prenotazioneCard{
                width: 600px;
                font-size: 20px;
                margin-top: 18em;
                margin-right: 12em;
            }
          }  
        
          @media screen and (min-width: 1200px) {
            .prenotazioneCard{
                width: 650px;
                font-size: 40px;
                margin-top: 10em;
                margin-left: 6em;
            }
            
            .inputPrenotazione{
                width: 350px;
            }
          }
        
          @media screen and (min-width: 1280px) {
            .prenotazioneCard{
                width: 650px;
                font-size: 35px;
                margin-top: 10em;
                margin-left: 6em;
            }
            
            .inputPrenotazione{
                width: 350px;
            }
          
          }
        
          @media screen and (min-width: 1400px) {
        
          }
        
        
        