
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

.App {
}

body {
  background-image: url(http://res.cloudinary.com/drf1t0gkq/image/upload/v1707839944/l6fzqnqj6usfuszhuenv.jpg);
  background-repeat: repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: contain;
  min-height: 100vh;
  /* background-size: 11rem; */
  margin: 0;
  padding: 0;
}




.imgUp{
  width: 100%;
height: 200px;
background-image: url(./assets/futuro2.pgn.png);
background-position: top;
background-repeat: repeat-x !important;
background-size: contain;
background-attachment: scroll;
image-rendering: pixelated !important;
position: absolute;
top: 20px;
}



@media screen and (min-width: 280px) {
.imgUp{
  position: absolute;
top: 25px;
}
}


  @media screen and (min-width: 360px) {
    .imgUp{
      position: absolute;
    top: 30px;
    }
  }

 @media screen and (min-width: 375px) {

  }

  @media screen and (min-width: 390px) {

  }  


  @media screen and (min-width: 412px) {

  }

  @media screen and (min-width: 430px) {

  }

  
  @media screen and (min-width: 540px) {

  }

  @media screen and (min-width: 768px) {

  }


  @media screen and (min-width: 820px) {

  }

  @media screen and (min-width: 912px) {

  }  

  @media screen and (min-width: 1024px) {

  }

  @media screen and (min-width: 1280px) {

  }

  @media screen and (min-width: 1400px) {

  }


